<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Notes App Nodejs and Mongodb</h1>
            <h3 class="mb-5">
                <em>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit ad facilis, ex quia laboriosam,
                    placeat natus nam aperiam in fugit doloremque, deleniti saepe laborum quos animi repudiandae omnis a
                    hic.</em>
            </h3>
            <a href="/signin" class="btn btn-primary" >
                Inicia Tu Viaje
            </a>

        </div>
    </header>
</main>