<div class="container p-4">
    <!-- showcase imagen de entrada -->
    <div class="showcase">
        <h2>Contruye Tu Vida</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere odit voluptatem libero illo! Labore ad
            voluptatum quaerat dignissimos adipisci inventore aliquam, quasi libero nam natus error sint sit?
            Blanditiis,
            vel!
        </p>
        <a class="aa" href="#">Aprender Mas <i class="fas fa-angle-double-right"> </i></a>
    </div>
    <!-- nuevas secciones -->
    <div class="news-cards">
        <div>
            <img src="" alt="">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, porro.</p>
            <a href="#">Leer Mas <i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>


</div>